altgraph==0.17.4 ; python_version >= "3.10" and python_version < "3.14"
astroid==3.3.8 ; python_version >= "3.10" and python_version < "3.14"
black==24.10.0 ; python_version >= "3.10" and python_version < "3.14"
click==8.1.8 ; python_version >= "3.10" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.14" and (sys_platform == "win32" or platform_system == "Windows")
dill==0.3.9 ; python_version >= "3.10" and python_version < "3.14"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
flake8==7.1.1 ; python_version >= "3.10" and python_version < "3.14"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
isort==5.13.2 ; python_version >= "3.10" and python_version < "3.14"
macholib==1.16.3 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "darwin"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "3.14"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.14"
mypy==1.14.1 ; python_version >= "3.10" and python_version < "3.14"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.14"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "3.14"
pefile==2023.2.7 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
platformdirs==4.3.6 ; python_version >= "3.10" and python_version < "3.14"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.14"
pycodestyle==2.12.1 ; python_version >= "3.10" and python_version < "3.14"
pyflakes==3.2.0 ; python_version >= "3.10" and python_version < "3.14"
pyinstaller-hooks-contrib==2025.1 ; python_version >= "3.10" and python_version < "3.14"
pyinstaller==6.12.0 ; python_version >= "3.10" and python_version < "3.14"
pylint-exit==1.2.0 ; python_version >= "3.10" and python_version < "3.14"
pylint==3.3.3 ; python_version >= "3.10" and python_version < "3.14"
pytest==8.3.4 ; python_version >= "3.10" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
ruff==0.8.6 ; python_version >= "3.10" and python_version < "3.14"
setuptools==75.8.0 ; python_version >= "3.10" and python_version < "3.14"
tomli==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.13.2 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.14"
